<style>
    @tailwind base;
    @tailwind components;
    @tailwind utilities;
</style>

<div class="text-center mt-4">
    <div class="avatar">
        <div class="w-36 rounded">
            <img src="/assets/at-work.jpg" />
        </div>
    </div>
</div>

