<div class="capa-bg"></div>

<style>
    .capa-bg {
        position: absolute;
        height: 100%;
        width: 100%;        
        /* background: rgb(0,0,0,0.5)		 */
        background-image: linear-gradient(
            0deg,
            rgb(10, 10, 17, 1),
            rgb(0, 0, 128, 0.05)
        );
        background-blend-mode: darken;
        z-index: -1;
        pointer-events: none;
    }
</style>
