<div class="inline-grid items-end gap-20 lg:gap-48">
    <slot
        class="grid-col-start-1 grid-row-start-1 transform translate-y-10 scale-90 z-10 w-full opacity-60"
    />
</div>

<style>
    @tailwind base;
    @tailwind components;
    @tailwind utilities;
</style>