---
import Pill from '../Pill.astro'
import Icon from '../Icon.astro'
---

<style>
    @tailwind base;
    @tailwind components;
    @tailwind utilities;
    .hero-bg {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
    }
</style>

<div class="hero justify-start items-end ml-2 sm:ml-24">
    <div class="hero-content text-neutral-content max-w-4xl">
        <div class="flex flex-row">
            <div>
                <h1 class="mb-5 text-5xl">Videos</h1>
                <p class="text-xl">
                    Mira mis videos mas importantes y haz clic en el boton Like.
                </p>
            </div>
            <div class="btn btn-lg">
                Ver Todos<Icon icon="arrow-right" size="1.2em" />
            </div>            
        </div>
    </div>
</div>
